// primary
.ova-element-primary-background {
	.elementor-widget-container {
		background-color: var(--primary);
	}
}

.ova-column-primary-background {
	.elementor-widget-wrap {
		background-color: var(--primary);
	}
}

.ova-section-primary-background {
	background-color: var(--primary);
}


// secondary
.ova-element-secondary-background {
	.elementor-widget-container {
		background-color: var(--secondary);
	}
}

.ova-column-secondary-background {
	.elementor-widget-wrap {
		background-color: var(--secondary);
	}
}

.ova-section-secondary-background {
	background-color: var(--secondary);
}