.ova-price-list{

	.item-price-list{
		@include transaction( all, 0.5s, ease);
		position: relative;
		border:5px solid transparent;
		margin: 0 0 20px;
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.06);
		padding: 25px 30px 25px 70px;
		background-color: #fff;

		@media (max-width: 767px) {
	    	padding: 25px 30px 25px 50px;
	    }

		&.active{
			@include transaction( all, 0.5s, ease);
			box-shadow: 0px 10px 60px 0px rgba(95, 45, 238, 0.3);
			border-color: var(--primary);

			.dot{
				@include transaction( all, 0.5s, ease);
				border-color: var(--primary);	
				background: var(--primary);	
			}
		}

		.dot{
			@include transaction( all, 0.5s, ease);
			position: absolute;
			left: 25px;
			top: 25px;
			width: 25px;
		    height: 25px;
		    background: #efeafd;
		    border-radius: 100%;
		    box-shadow: inset 0px 0px 0px 4px white;
		    border: 1px solid #efeafd;

		    @media (max-width: 767px) {
		    	left: 20px;
		    	width: 20px;
		    	height: 20px;
		    }
		}

		.content{

			.top-content{
				display: flex;
				align-items: center;
			    justify-content: space-between;
			    flex-wrap:wrap;
			    row-gap: 8px;

				.title{
					margin: 0;
					font-size: 24px;
					font-weight: 800;
					line-height: 1.2;
					color: var(--heading);
					@media(max-width: 767px){
				    	font-size: 20px;
				    }
				}

				.price-wrapper{
					display: inline-flex;
					align-items: flex-end;

					.ova-price{
						font-size: 30px;
						color: var(--heading);
						font-weight: 800;
						line-height: 1;
						@media(max-width: 767px){
					    	font-size: 24px;
					    }
					}
					.period {
						line-height: 1;
					}
				}
			}
			
			.pricing-description{
				margin:10px 0 0;
			}
		}
	}

	.choose-plan-button{
		@include transaction( all, 0.5s, ease);
		font-size: 14px;
	    font-weight: bold;
	    text-transform: uppercase;
	    line-height: 1.2;
	    letter-spacing: 1.9px;
	    text-align: center;
	    color: #fff;
	    background-color: var(--primary);
	    display: block;
	    padding: 24px 0 20px;
	    position: relative;
	    z-index: 1;

	    @media(max-width: 1024px){
	    	padding: 18px 0 13px;
	    }

	    &:hover{
	    	@include transaction( all, 0.5s, ease);

	    	&:after{
	    		@include transaction( all, 0.5s, ease);
	    		transform:scaleY(1);
	    	}
	    }

	    &:after{
	    	@include transaction( all, 0.5s, ease);
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	right: 0;
	    	bottom: 0;
	    	content: '';
	    	height:100%;
	    	background-color: var(--heading);
	    	transform:scaleY(0);
	    	transform-origin: top;
	    	z-index: -1;
	    }
	}
}