.ova-progress {

	.ova-progress-title {
		margin: 0 0 13px 0;
		font-weight: 800;
		font-size: 18px;
		line-height: 1.7; 
		color: var(--heading);  
	}

	.ova-percent-view {
		height: 7px;
		width: 100%;
		background-color: #efeafd;
		position: relative;

		.ova-percent {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 7px;
			float: left;
			background-color: var(--primary);
		}

		.percentage {
			position: absolute;
			bottom: calc(100% + 13px);
			right: 0;
			font-size: 18px;
			font-weight: 800;
			line-height: 1.7;
			color: var(--heading);
		}
	}
}