.ova-text-marquee{
	position: relative;
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    white-space: nowrap;

	.content-wrapper, .content-wrapper-2{
		width: 200%;
		.text{
        	font-size: 180px;
        	line-height: 1;
        	color:var(--heading);
        	width: 200%;

        	@media(max-width:1024px){
				font-size: 120px;
			}
			@media(max-width:767px){
				font-size: 70px;
			}
		}
	}

	.content-wrapper {
		animation: scroll 20s linear infinite;
		animation-delay: -20s;
	}

	.spacing {
		-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    width: 600px;
	}

	.content-wrapper-2 {
		animation: scroll2 20s linear infinite;
		animation-delay: -10s;
	}
	

	@keyframes scroll {
	    0% {
	      	transform: translateX(100%);
	    }
	    100% {
	      transform: translateX(-100%);
	    }
	}

	@keyframes scroll2 {
	   0% {
	      transform: translateX(0);
	    }
	    100% {
	      transform: translateX(-200%);
	    }
	}

	&.duration-slow{
		.content-wrapper {
			animation: scroll 30s linear infinite;
			animation-delay: -30s;
		}

		.content-wrapper-2 {
			animation: scroll2 30s linear infinite;
			animation-delay: -15s;
		}
	}

	&.duration-fast{
		.content-wrapper {
			animation: scroll 10s linear infinite;
			animation-delay: -10s;
		}

		.content-wrapper-2 {
			animation: scroll2 10s linear infinite;
			animation-delay: -5s;
		}
	}
}